[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "20"

# Regra essencial para React Router / SPAs
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200